/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,87.5,300..800;1,87.5,300..800&display=swap');

/* Dm Mono */
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

/* Toxigenesis Bd */
@font-face {
    font-family: "toxigenesis bd";
    src: url("/assets/fonts/toxigenesis\ bd.otf") format("opentype");
}


main {
    background: #29293a;

    max-width: 800px;
    min-height: 100vh;

    margin: 0 auto;
    padding: 40px;

    text-align: left;
}

aside {
    background: #9b58a1;
    padding: 8px 14px;
    border-radius: 2px;
}

/* Generic body text */
body {
    background: #20202f;
    color: #e8eaec;

    font-family: 'Open Sans', sans-serif;
}

/* All headings */
h1, h2, h3 {
    font-family: "toxigenesis bd";
}

/* Italic */
em {
    color: #6bb0d8;
    font-style: italic;
}

/* Bold */
strong {
    color: #aa3333;
    font-variation-settings: "wdth" 700.0;
}

/* Italic + Bold */
/*
    CSS is stupid (although it makes good sense) so we gotta have both ib and bi
*/
em strong, strong em {
    color: #c9c945;
    font-variation-settings: "wdth" 100.0;
    font-weight: 900;
}

/* Button */
.buttonLink {
    font-family: "toxigenesis bd";

    display: inline-block;
    color: #ffffff;
    background: #44445a;
    padding: 8px 14px;
    border-radius: 2px;
    text-decoration: none;
}

/* Hover effekts :3 ~   Pink*/
.buttonLink:hover {
    background: #ff9de2;
    color: #20202f;
}

.topBar {
    position: relative;
    overflow: hidden;
    isolation: isolate;
}

@keyframes scrollLines {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(55px, 55px);
    }
}

.topBar::after {
    content: "";

    position: absolute;
    inset: -100%;
    background: repeating-linear-gradient(
        -45deg,
        transparent 0px,
        transparent 20px,
        #ca77a8 20px,
        #ca77a8 60px,
        transparent 60px,
        transparent 80px
    );
    animation: scrollLines 2s linear infinite;
    pointer-events: none; /* Filter mouse off */
    z-index: -1;
}

/* Code block */
pre {
    background: #20202f;
    padding: 8px 14px;
    border-radius:  7px;
    border: 2px solid #6666ff;
    font-family: "Dm Mono", monospace;
}

/* Inline code */
code {
    background: #20202f;
    padding: 4px 7px;
    border-radius:  7px;
    font-family: "DM Mono", monospace;
}