@font-face {
    font-family: "toxigenesis bd";
    src: url("/assets/fonts/toxigenesis\ bd.otf") format("opentype");
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,87.5,300..800;1,87.5,300..800&display=swap');

body {
    background: #20202f;
    color: #eceae8;

    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: "toxigenesis bd";
}