<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ page.title }} : {{ site.title }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>

    <div class="topBarWrapper">
        <aside class="topBar">
            <h1>{{ site.title }}</h1>

            <nav>
            <a href="{{ '/' | relative_url }}" class="buttonLink">Home</a>
            <a href="{{ '/about' | relative_url }}" class="buttonLink">About</a>
            <a href="{{ '/ramblings' | relative_url }}" class="buttonLink">Ramblings</a>
            </nav>
        </aside>
    </div>

    <main>
        {{ content }}
    </main>

</body>
</html>